<div class="col-md-10">
    <form class="tab-pane active form-horizontal" id="first" name="contactForm" novalidate ng-submit="update()">
        <h3 class="block">Edit contact</h3>
        <div class="form-group" ng-class="{'has-error' : submitted && contactForm.first_name.$invalid}">
            <label class="control-label col-md-3">First name <span class="required">* </span> </label>
            <div class="col-md-4">
                <input type="text" name="first_name" class="form-control" ng-model="contact.first_name" required placeholder="First Name"/>
            </div>
            <p ng-show=" submitted && contactForm.first_name.$invalid" class="help-block">First name is required.</p>
        </div>
        <div class="form-group" ng-class="{'has-error' : submitted && contactForm.last_name.$invalid}">
            <label class="control-label col-md-3">Last name <span class="required">* </span> </label>
            <div class="col-md-4">
                <input type="text" name="last_name" class="form-control" ng-model="contact.last_name" required placeholder="Last Name"/>
            </div>
            <p ng-show=" submitted && contactForm.last_name.$invalid" class="help-block">Last name is required.</p>
        </div>
        <div class="form-group" ng-class="{'has-error' : submitted && contactForm.email.$invalid}">
            <label class="control-label col-md-3">Email <span class="required">* </span> </label>
            <div class="col-md-4">
                <input type="email" name="email" class="form-control" ng-model="contact.email" required placeholder="test@email.com"/>
            </div>
            <p ng-show="submitted && contactForm.email.$error.required" class="help-block">Email is required.</p>
            <p ng-show="submitted && contactForm.email.$error.email" class="help-block">Enter valid email</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Phone </label>
            <div class="col-md-4">
                <input type="text" name="phone" class="form-control" ng-model="contact.phone" placeholder="+91-XXXXXXXXX"/>
            </div>
            <p ng-show=" submitted && contactForm.phone.$invalid" class="help-block">Phone is required.</p>
        </div>
        <div class="form-group">
            <div class="pull-left">
                <a class="btn btn-default" href="/"> Back</a>
                <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
            </div>
        </div>
    </form>
</div>

